.app-footer {
  background-color: #023778;
  color: #fff;
  padding: 1rem;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.brand-logo {
  height: 30px;
}
